{% extends "language.html" %}


{% block language-name %} Python {% endblock language-name %}

{% block history %}<p><a href="https://www.python.org">Python</a> was founded back in 80's it is relevant to the market 
they have extensive modules and strong community support<p>{% endblock history %}

{% block uses %}<p>Python is one of the most popular programming languages. Developers can use it for general purpose scripting, web development, scientific computing, artificial intelligence and machine learning, graphical application development (both desktop and mobile), as well as game development. Python is popular in education due to its more beginner-friendly syntax. The Raspberry Pi project adopted Python as their main programming language for its users.
</p> {% endblock uses %}